{% extends 'usercenter-base.html' %}
{% block right %}
<div class="personal_des Releasecont">
    <div class="head">
        <h1>我的课程</h1>
    </div>
</div>
<div class="personal_des permessage">
    <div class="companycenter">
        <div class="group_list brief">
            {% for items in coures %}
            <div class="module1_5 box">
                <a href="{% url 'course:course_details' items.coures.id  %}">
                    <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ items.coures.cover }}" />
                </a>
                <div class="des">
                    <a href="{% url 'course:course_details' items.coures.id  %}">
                        <h2>{{ items.coures.name }}</h2>
                    </a>
                    <span class="fl">课时：<i class="key">{{ items.coures.learn_times }}</i></span>
                    <span class="fr">学习人数：{{ items.coures.students }}</span>
                </div>
                <div class="bottom">
                    <span class="fl">{{ items.coures.coures_org.name }}</span>
                    <span class="star fr  notlogin" data-favid="15">{{ items.coures.fav_num }}</span>
                </div>
            </div>              
            {% endfor %}
        </div>
    </div>
</div>
{% endblock right %}